<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TwilioSheet: Twilio SMS to Google Spreadsheet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">TwilioSheet</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Setup</a></li>
              <!-- <li><a href="#">Help</a></li> -->
              <li><a href="https://github.com/jpf/Twilio-SMS-to-Google-Form">Source code</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <form class="well form-inline" action="/submit" method="POST">
        <label>Enter the URL for the "live form" that submits to your
      Google Spreadsheet:</label>
        <div class="control-group {% if error %}error{% endif %}"> <!-- error here -->
          <input type="url" name="url" class="span7"
                 placeholder="https://docs.google.com/spreadsheet/viewform?formkey=aBCdEfG0hIJkLM1NoPQRStuvwxYZAbc2DE#git=0"
                 {% if url %}
	         value="{{ url }}"
	         {% endif %}
	         />
        <button type="submit" class="btn">Submit</button>
      </form>
      </div>
      
      {% if state == 'nothing-submitted' %}
	<h1>Receive Twilio SMS messages in a Google Spreadsheet</h1>
	<p>Use Twilio and Google Spreadsheets to build your own
	applications to do SMS polling, SMS voting, keyword marketing,
	expense tracking, time tracking, and more.<br/> No programming experience
	required.</p>
      <img src="/static/img/twiliosheet-example.png" />
      <h2>Get Started</h2>
      <ol>
      <li><a href="http://support.google.com/docs/bin/answer.py?hl=en&answer=87809">Create a Google Spreadsheet</a>:<br/><img src="/static/img/1-create-spreadsheet.png" /></li>
      <li>Name the spreadsheet "TwilioSheet" (or any name of your choosing)</li>
      <li>Add "SmsSid", "To", "From", and "Body" to the first line in your new spreadsheet 
          (<a href="http://www.twilio.com/docs/api/twiml/sms/twilio_request">other parameters are avaiable as well</a>):
	  <br/><img src="/static/img/2-name-first-row.png" /></li>
      <li>Click on the "Tools" menu, then click "Create a form":<br/><img src="/static/img/3-create-a-form.png" /></li>
      <li>A window will open.</li>
      <li>Type "Testing" in the box that says "You can include any text or info that will help people fill this out."</li>
      <li>Click "Save"</li>
      <li>Click on the URL at the bottom of the window.<br/><img src="/static/img/4-save-form.png" /></li>
      <li>Another window will open. Copy the URL from the location bar of that window:<br/><img src="/static/img/5-copy-url.png" /></li>
      <li>Paste that URL into the box at the top of this page and click the "Submit" button</li>
      </ol>
      {% elif state == 'error' %}
      {{ message }}
      <br/><br/>
      Maybe another look at <a href="/">the instructions</a> would help?
      {% elif state == 'valid-submission' %}
      <h2>It worked!</h2>
      <p>You're almost done.</p>
      <p>Follow the steps below and when your Twilio number is sent an SMS, 
         your spreadsheet will be updated with the following information:</p>
      <ul>
      {% for parameter in parameters_found %}
	<li>{{ parameter }}</li>
      {% endfor %}
      </ul>
      <b>In another window:</b>
      <ol>
        <li>Log in to your Twilio account.</li>
	<li>Go to the "Numbers" section of your Twilio account
	    (<a href="https://www.twilio.com/user/account/phone-numbers/incoming">or click here</a>)</li>
	<li>Click on the number you want to set up to send SMS data to your Google Spreadsheet.</li>
	<li>Copy this URL:<br/> <input type="text" class="span8" value="{{sms_request_url}}" /></li>
	<li>Paste the URL in the step above into the "SMS Request URL" box.</li>
	<li>Click the "Save Changes" button.<br/><img src="/static/img/6-paste-url.png"/></li>
	<li>Send a text message to the number you just set up. </li>
      </ol>
      <b>In your Google Spreadsheet:</b>
	<li>You should see your text message show up, live, in your
	Google Spreadsheet in about 5-10 seconds</li>
	<li>Start writing formulas to process the incomming text
	messages.</li>
      </ol>
    {% endif %}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    -->
    <!-- Commented out for now
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    -->
  </body>
</html>
