<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TwilioSheet: Twilio SMS to Google Spreadsheet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">TwilioSheet</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Setup</a></li>
              <!-- <li><a href="#">Help</a></li> -->
              <li><a href="https://github.com/jpf/TwilioSheet">Source code</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <form class="well form-inline" action="/submit" method="POST">
        <label>Enter the URL for the "live form" that submits to your
      Google Spreadsheet:</label>
        <div class="control-group {% if error %}error{% endif %}"> <!-- error here -->
          <input type="url" name="url" class="span7"
                 placeholder="https://docs.google.com/spreadsheet/viewform?formkey=aBCdEfG0hIJkLM1NoPQRStuvwxYZAbc2DE#git=0"
                 {% if url %}
	         value="{{ url }}"
	         {% endif %}
	         />
        <button type="submit" class="btn">Submit</button>
      </form>
      </div>
      
      {% if state == 'nothing-submitted' %}
	<h1>Receive Twilio SMS messages in a Google Spreadsheet</h1>
	<p>Use Twilio and Google Spreadsheets to build your own
	applications to do SMS polling, SMS voting, keyword marketing,
	expense tracking, time tracking, and more.</p>
      <p>Need help? <a href="https://github.com/jpf/TwilioSheet/blob/master/README.md">See here for instructions</a></p>
      {% elif state == 'error' %}
      {{ message }}
      <br/><br/>
      Maybe another look at <a href="https://github.com/jpf/TwilioSheet/blob/master/README.md">the instructions</a> would help?
      {% elif state == 'valid-submission' %}
      <h2>It worked!</h2>
      <p>You're almost done.</p>
      <p>Follow the steps below and when your Twilio number is sent an SMS, 
         your spreadsheet will be updated with the following information:</p>
      <ul>
      {% for parameter in parameters_found %}
	<li>{{ parameter }}</li>
      {% endfor %}
      </ul>
      
      Use this URL as the "SMS Request URL" for your Twilio number:<br/> <input type="text" class="span8" value="{{sms_request_url}}" />
    {% endif %}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    -->
    <!-- Commented out for now
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    -->
  </body>
</html>
